
/*****************************************************************/

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);
  
:root {
  --font-color: #424242;
  --bg-color: #fff;
  --h-rgba: rgba(0, 0, 0, 0.808);
   --p-rgba: rgb(0, 0, 0, 0.908);
   --projects-background: rgb(208,208,180);
   --projects-color:rgb(180,180,180);
   --h2-color: rgba(0, 0, 0, 0.808);
   /**/
   --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
   --font-color: #e1e1ff;
   --bg-color: #333;
   --h-rgba: rgba(255, 255, 255, 0.808);
   --p-rgba: rgb(255, 255, 255, 0.908);
   --projects-background: rgba(4, 5, 4, 0.288);
   --projects-color:rgba(51, 51, 51, 0.603);
   --h2-color: #e1e1ff;
}

body {
  margin: 0;
  line-height: 1.5;
  text-align: center;
  background: var(--bg-color);
  color: var(--font-color);
}
/***/


/*
body {
  margin: 0;
  background: #333;
  line-height: 1.5;
  text-align: center;
}
*/
h1,h2,h3 {
  color: var(--h-rgba);
  line-height: 1.5;
  text-align: center;
}

p1,p2,p3 {
  line-height: 1.5;
  text-align: center;
  color: var(--p-rgba);
  margin: 0;
  padding: 0.5em 0;
}

p4 {
  text-align: center;
  color: var(--p-rgba);
  margin-left: 0.5rem;
}

input[type="submit1"] {
  background-color: transparent;
  border: transparent;
}

input[type="submit1"]:hover{
  background-color:green;
}

whatsapp {
  color: green;
  padding: 0.5em 0;
}

#About {
  min-height: 450px;
  text-align: center;
}

#About .bg-image {
    position: absolute;
    background: var(--bg-color)
      url("./images/pexels-photo-169573.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.2;
  }

h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#About .container, #Projects.container, #Contact.container {
  padding: 0 0.2em;
}

#Projects {
    background: var(--projects-background);
    color: var(--projects-color);
    padding-bottom: 2em;
}

h2 {
    color: var(--h2-color);
}

@media (min-width: 700px) {
    .container {
      grid-column: 2/4;
    }
}

/*
.card-img-top {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
}
*/




/***/
nav {
 display: flex;
 justify-content: center;
 padding: 20px 0;
}

.theme-switch-wrapper {
display: flex;
align-items: center;
}

.theme-switch-wrapper em {
margin-left: 10px;
font-size: 1rem;
}


.theme-switch {
 display: inline-block;
 height: 34px;
 position: relative;
 width: 60px;
}

.theme-switch input {
 display:none;
}

.slider {
 background-color: #ccc;
 bottom: 0;
 cursor: pointer;
 left: 0;
 position: absolute;
 right: 0;
 top: 0;
 transition: .4s;
}

.slider:before {
 background-color: #fff;
 bottom: 4px;
 content: "";
 height: 26px;
 left: 4px;
 position: absolute;
 transition: .4s;
 width: 26px;
}

input:checked + .slider {
 background-color: #66bb6a;
}

input:checked + .slider:before {
 transform: translateX(26px);
}

.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}
